<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="/madlib">
        <label> Please enter the following </label>
            <br>
            Color <input type="text" name="color">
            <br>
            A Noun <input type="text" name="noun">
            <br>
            Adjective <input type="text" name="adj">
            <br>
            
        <input type="hidden" name="person" value="{{ person }}">
        <input type="submit">
    </form>

</body>
</html>